<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Leaderboard</title>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header class="header-banner">
      <div class="container-width">
        <div class="logo-container">
          <div class="logo">Leaderboard</div>
        </div>
        <nav class="menu">
          <div class="menu-item">
            <%if(loggedIn){%> <a href="/user/<%=username%>">Profile</a><%}
            else{%> <a href="/login">Login</a><%}%>
          </div>
          <div class="menu-item"><a href="/leaderboard">Leaderboard</a></div>
          <div class="menu-item"><a href="/">Game</a></div>
        </nav>
        <div class="clearfix"></div>
        <table>
            <tr>
                <th>Player Name</th>
                <th>score</th>
                <th>timing</th>
            </tr>
            <%for(let i=0;i<data.length;i++){%> 
                <tr>
                    <td><a href="/user/<%=data[i].username%>"><%=data[i].username%></a></td>
                    <td><%=data[i].score%></td>
                    <td><%=data[i].timing.hours%>h <%=data[i].timing.minutes%>min <%=data[i].timing.seconds%>.<%=data[i].timing.milliseconds%>s</td>
                    <td><a href="/leaderboard/del/<%=data[i]._id%>" title="Delete this record">x</a></td>
                </tr>
                <%}%>
        </table>
        <a href="/leaderboard/new" style="color: black;">Enter</a>
    </header>
  </body>
</html>
